section {
    background: #EC6652;
    color: white;
    width:  350px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 48px;
    font-weight: 200;
}

form {
    padding: 10px 20px;
}

.input-field {
    padding: 20px 5px;
}

label {
    font-size: 13px;
}

input {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    padding: 20px 0 10px 0;
    cursor: pointer;
}

input::placeholder,  input[type=text], input[type=email] {
    color: white;
    font-size: 16px;
    font-weight: 100;
}


.submit{
    display: flex;
    justify-content: flex-end;
    padding: 20px 0;
}

button {
    background: transparent;
    border: none;
    color: white;
    font-size: 12px;
}

.select-parent {
    position: relative;
}

select {
    width: 100%;
    background: transparent;    
    border: none;
    position: absolute;
    bottom: 0;
    left: 0;
}


.pad-r {
    padding-right: 10px;
}

